/*
Colors:
Off white: rgb(232,232,232)
Orange: rgb(222,73,47)
Blue/grey: rgb(77,102,132)
*/

*
    {
    margin: 0;
    padding: 0;
    border: 0;
}
body, html
{

}
a
{
  color: #1f496e
}

.clearfix {
  overflow: auto;
  clear:both;
}

.merriweather
{
  font-family:"merriweather"
}

#container
{
   background-color: rgb(232,232,232);
  position: absolute;
  width:100%;
  min-height:100%;
  top:0;

}

/* Topbar */
#topbar
{

  /* height: 15%; */
  top:0;
  right:0;
  left:0;
  position: fixed;
  width:100%;
  background-color: rgb(222,73,47);

  z-index:999;
}
#studiobar
{
  position: relative;
  /* height:50%; */
  width: 100%;
  background-color: rgb(222,73,47);

  z-index:999;
}

#musebar
{
  position: relative;
  /* height:50%; */
  width: 100%;
  z-index:999;
  background-color: #ABABAB;

}
.studio-logo
{
  position: relative;
  display:block;

cursor: pointer;
max-width:70%;
margin:0 auto;
top:50%;
transform: translateY(-50%);


}
.header-title
{
  color:white;
  line-height:100%;
  font-size: 4vh;
  float:left;
  margin:0;
  cursor: default;

}

.fifth
{
  width: 20%;
  height: 7vh;
  float:left;
  position: relative;
  cursor: pointer;




}

.three-fifth
{
  width:60%;
  height: 100%;
  float:left;
  height: 7vh;
  padding-bottom: 1vh;
  padding-top: 1vh;


  display:flex;
  justify-content: center;
  align-items: center;


}

.museum img
{
  position: relative;
  display:block;

  margin:0 auto;
  top:50%;
  transform: translateY(-50%);



  max-width:70%;

}
.active .logo
{
  display:none;
}
.fifth img.active
{
  display:none;
}
.active img.active
{
  display:block;
}

.fifth.active
{
  background-color:rgb(77,102,132);
}

.help-btn
{




  position: relative;
  float:right;
  margin-right:10%;
  top: 50%;
  transform: translateY(-50%);

}
.help-btn i
{
    font-size: 3vh;
    color:white;
}

.btn-clear
{
  background-color: transparent;
  border: 1px solid white;
}


.btn-clear:hover
{
  background-color: rgba(0,0,0,0.1);
}
.btn-clear:active
{
  background-color: rgba(0,0,0,0.2);
}
.btn-clear:hover:active
{
  background-color: rgba(0,0,0,0.1);
}




/* Content */
#content
{
    position: relative;
    width:100%;
    margin-top:15vh;
    left: 0;
    background-color: rgb(232,232,232);

}

.title
{
  width: 100%;
  height: auto;
  text-align: left;
  padding-left:3%;
  padding-top: 1vh;


}
.title h2
{
  margin: 0;
}

.loader
{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#chart
{
  float:left;
  height:69vh;
  width:70%;
  position: relative;
}

.highcharts-legend-item text
{
  color:black !important;
  fill:black !important;
}

#Select
{
  position: absolute;
  bottom: 1vh;
  padding-left:20px;
  left 0;
}

#events
{
  float:left;
  width:80%;
  height:24vh;
}

#infopane
{
  width: 29%;
  /*height: 60vh;*/
  float: left;
  padding:1%;
}


.left-label
{
  line-height:28px;
  padding-right:10px;
  margin:0;
}
.select2
{
  text-align: left;
}


#timespan-picker
{
  text-align:center;
  width:100%;
}

p:first
{
  margin-top:25px;
}

p
{
  line-height:28px;
  font-size: 14px;
  text-indent:0;
  margin-bottom:25px;
}

p span
{
  font-weight: bold;
}

#infotext
{
  display:none;
}

#topPages
{

  word-wrap: break-word;
  padding-left:10px;
}



/* Social Panes */
.social-pane
{
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 0px solid #000000;

  padding:0;

  margin-left:1%;
  margin-right:1%;
  background-color: rgb(245,248,250);
}
.social-title
{
  text-align: center;
}
.social-title h3
{
    line-height:40px;
    font-size: 20px;
}

.social-title a:focus, a:hover
{
  text-decoration: none;

}
.fa-chevron-up
{
  color:rgb(29,157,115);
}

.fa-chevron-down
{
  color:rgb(194, 29 ,48);
}

.social-title .logo
{
  float:left;
  height: 40px;
  width: 40px;
  background-size: 40px;
}
.social-body
{
  text-align:center;
}
.social-body p
{
  margin-bottom:5px;
  font-size:20px;
}
.social-embeed
{
  width:100%;
  display:inline-block;
  text-align: center;
}
.social-urls
{
  text-align:left;
  padding-left:10%;
  padding-right:10%;

}
.social-urls a
{
      word-wrap: break-word;
}


/* Twitter specific */

.twitter .logo
{

  background-image: url('../img/twitter.png');

}

.twitter .panel-heading
{
  color:black;
  background-color: rgb(80,171,241);

}

/* IG  specific */
.instagram .panel-heading
{
    color: black;
    background-color: rgb(185,163,140)
}

.instagram .logo
{

  background-image: url('../img/instagram.png');

}

/* FB  specific */
.facebook .panel-heading
{
    color: white;
    background-color: rgb(68,97,157)
}

.facebook .logo
{

  background-image: url('../img/facebook.png');

}



/* Dialog box */


.ui-dialog
{

  z-index:9999;
}


/* Small screens */
.museum i{
  display:none;
  }
@media only screen and (max-width:850px) {

  #infopane
  {
    width:100%;
    padding: 20px;
  }
  #chart
  {
    width:100%;
  }
  .fifth
  {
    height: 7vmax;
  }
  .three-fifth
  {
    height: 7vmax;
  }
  .header-title
  {
    font-size: 5vmin;
  }
  #content
  {
    margin-top: 14vmax;
  }
  .museum
  {
    width:100%;
  }
  .museum.fifth
  {
    display:none;
  }
  .museum img
  {
    max-width:50%;
  }
  .museum.fifth.active
  {
    display:block;
  }
  .museum.active i
  {
    position:absolute;
    display:inline;
    line-height: 7vmax;
    color:white;
    left:5%;
    font-size: 3vmax;
  }
  .help-btn i
  {
    font-size: 3vmax;

  }
  .three-fifth
  {
    width:0;
  }
  .studio
  {
    margin-left: 20%;
    width:60%;
  }


}
