/******************************
        General Purpose
******************************/
*
    {
    margin: 0;
    padding: 0;
    border: 0;
}
body, html
{
  height:100%;
  overflow-x: hidden;
}
a
{
  color: #1f496e
}
p{
  line-height:22px;
  font-size: 14px;
  text-indent:0;
  margin-bottom:25px;
}
ol
{
  margin-top: 0;
  margin-bottom: 2em;
}
.v-center
{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.full-height
{
  height: 100%;
}


.no-pg-space
{
  margin-bottom: 0;
}

.merriweather
{
  font-family:"merriweather"
}

/* Social Media Colors */
.twitter-fill
{
  background-color: rgb(80,171,241);
}
.facebook-fill
{
  background-color: rgb(68,97,157);
}

.instagram-fill
{
  background-color: rgb(185,163,140);
}


/* Images */
.logo
{
  max-width:70%;
  margin:auto;
  position: relative;

  padding-bottom: 10px;
  padding-top: 10px;

  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);


}

.nav-pills .logo
{
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

.page-padding
{
  padding-left: 2%;
  padding-right: 2%;
}

/******************************
        Topbar
******************************/

.title
{
  line-height:65px;
  font-size: 1.7em;

  margin:0;
  color:white;
  cursor:default

}

.timespan
{
  height: 65px;
}

.timespan > .select2
{
  /*
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  */
}

/* Navbar */
.navbar-brand
{
  padding-top:0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.help-btn
{
    line-height: 65px;
    font-size: 1.5em;
    color:white;
    cursor:pointer;
}

.navbar-toggle
{
  margin-top:12px;
  margin-bottom: 5px;
  padding: 4px 6px;
}




/******************************
        Museumbar
******************************/

/* Options */
.museum-bar
{
  background-color: rgb(175,175,175);
}



/* Options - Museums */
.museum
{
  height:65px;
  cursor: pointer;
}

.museum.active
{
  background-color: #4d6684;

}
.museum  img.active
{
    display:none;
}
.museum  img.inactive
{
  display:block;
}
.museum.active  img.active
{
  display:block;
}
.museum.active  img.inactive
{
  display:none;
}
.active-museum
{
  height:65px;
}
.active-museum img
{
  display:none;
}
.active-museum .active
{
  display:block;
}


@media screen and (max-width: 767px )
{
  header .page-padding
  {
    padding-left:0%;
    padding-right:0%;
  }
  .museum-bar
  {
    background: #4d6684;
  }
  .museum
  {
    background-color: rgb(175,175,175);
  }
  .museum.active
  {
    display:none;
  }
  .logo
  {
    max-height: 60px;
  }
  .title
  {
    text-align: center;
    line-height: 36px;
    font-size: 24px;
  }
  .timespan
  {
    height:45px;
  }

}
@media screen and (max-height: 500px )
{
  .navbar-fixed-top
  {
    position: absolute;
    top:0;
  }
  .logo
  {
    max-height: 40px;
  }
  .active-museum, .museum
  {
    height:42px;

  }
  .museum-bar
  {
    min-height: 40px;
  }
  .title
  {
    text-align: center;
    line-height: 24px;
    font-size: 18px;
  }

}


/*****************************
              Content
*****************************/
.main-body
{
  margin-top: 152px;
}


/* Textual info */
#infotext p
{
  font-size: 1.2em;
  line-height: 1.5em;
}

#chart
{
  height:650px;
}

/* Social */
.social-pane .panel-heading
{
  color:white;

}
.social-pane .panel-title
{
  font-size: 1.2em;
  line-height: 1.5em;
}
.panel-heading > a,
.panel-heading > a:hover
{
  color:white;
  text-decoration: none;

}

.social-pane.instagram .panel-heading
{
    background-color: rgb(185,163,140);
}
.social-pane.facebook .panel-heading
{
    background-color: rgb(68,97,157);
}
.social-pane.twitter .panel-heading
{
    background-color: rgb(80,171,241);
}
.social-urls
{
  padding-left:25px;
}
